<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Impressum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="row responsive-sm login-container">
    <div class="col col-50 col-offset-25">
      <img src="assets/icon/smartq-logo-black.png" />
      <h4>SMART-Q Softwaresysteme GmbH</h4>
      <p>
        BioMedizinZentrum Bochum<br />
        Universitätsstraße 136<br />
        44799 Bochum<br />
      </p>
      <p>
        Telefon: <a href="tel:+49 0234 60 600 760">+49 0234 60 600 760</a><br />
        Telefax: +49 0234 60 600 762<br />
        E-Mail: <a href="mailto:info@smart-q.de">info#64;smart-q.de</a>
      </p>

      <p>
        Geschäftsführender Gesellschafter:<br />
        Daniel Zenz
      </p>

      <p>
        USt.-Id.: DE 272322555<br />
        Steuernr.: 350 / 5727 / 1865<br />
        Finanzamt Bochum
      </p>

      <p>
        HRB12884<br />
        Amtsgericht Bochum
      </p>
    </div>
  </div>
</ion-content>